* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html {
    height: 100%;
    width: 100%;
}
.page1 {
    height: 100%;
    width: 100%;
    background-color: #fcfcfc;
}
.page2 {
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}
.page3 {
    height: 100%;
    width: 100%;
    background-color: blueviolet;
}
.footer {
    background-color: crimson;
    height: 60%;
    width: 100%;
}