@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
 /* font-family: "League Spartan", sans-serif; */
/*  font-family: "Luckiest Guy", cursive; */
/* font-family: "Lilita One", sans-serif; */
/* font-family: "Lexend Deca", sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

.page1 {

    height: 100%;
    width: 100%;
    background-color: #fcfcfc;
     background: url(./img.jpg);
     background-size: cover;
     background-position: center;
}

.page2 {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
   
}

.page3 {
    height: 100%;
    width: 100%;
    background-color: blueviolet;
}

.footer {
    background-color: rgb(24, 12, 14);
    color: #fcfcfc;
    text-align: center;
    height: 60%;
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    opacity: 0.9;
    justify-content: space-between;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.06);
}

.part1 {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 900;

    h2 {
        font-size: 2.rem;
        font-weight: 700;
    }

    h3 {
        font-size: 0.8rem;
        font-weight: 500;
        color: #252424;
        font-family: "Lexend Deca", sans-serif;
        position: relative;
        top: -3px;

    }

    .logo {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 200px;
        margin-left: 90px;
        justify-content: center;
        background: url(./agro.png);
        background-size: cover;
        background-position: center;
        scale: 1.2;
    }

    .img {
        height: 100%;
        width: 80px;
        background: url(./logoimg.png);
        background-size: cover;
        background-position: center;
        margin-left: 10px;
    }
}

.part2 {
    display: flex;
    flex-direction: column;
    width: 34vw;
    margin-right: 90px;

    li {
        list-style: none;
        padding: 2px;

        i {
            font-size: 22px;
            padding: 2px;
        }
    }

    li:hover {
        color: rgb(242, 160, 18);
        border-bottom: 2px solid black;

    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        align-items: center;
        font-family: "Lexend Deca", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
}

.logo {
    position: absolute;
    top: 0;
    left: 10px;
}

.loding {
    height: 100vh;
    width: 100%;
    background-color: rgb(248, 248, 248);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 33;
    justify-items: center;
    align-content: center;
    overflow: hidden;
}

.ani {
    top: 50%;
    left: 50%;
}

.elements {

    height: 90%;
    margin: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

.card {
    height: 400px;
    width: 300px;
    background-color: #fafafa;
    justify-self: center;
    border-radius: 15px;
    /* box-shadow:0 5px 20px rgb(0, 0, 0, 0.16); */
    border: 0.1px solid rgba(80, 80, 80, 0.255);
}

.card {
    font-family: "Lexend Deca", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    .img {
        background: url(https://www.mahindratractor.com/sites/default/files/2024-07/Jivo-225-4wd-Desktop_0_11zon.webp);
        background-size: cover;
        border-radius: 13px;
        margin-top: 24px;
        height: 200px;
        width: 230px;
        background-color: aqua;
    }

    .but {

        background-color: rgb(243, 122, 8);
        height: 34px;
        width: 120px;
        border-radius: 10px;
        border: none;
        color: #fafafa;
        font-weight: 700;
        margin-top: 20px;

    }

    .title {
        font-size: 18px;
        margin-top: 20px;
    }

    .price {
        font-size: 15px;
        color: rgb(102, 103, 103);
        font-weight: 300;
        margin-top: 40px;
    }
}

.text {
    width: max-content;
    height: 600px;
    font-weight: 500;
    letter-spacing: 2px;
  font-family: "League Spartan", sans-serif;
  font-family: "Lilita One", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-51%);
    white-space: nowrap;
    font-size: 10em;
     background-image: linear-gradient(to right, #56f55b, #a7f788, #b6f86d, #c9f84d, #e0f61d);
    text-transform: uppercase;
     -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
  
    color:white;
   h5 {
     font-weight: 500;
    letter-spacing: 2px;
    font-family: "Lilita One", sans-serif;
   }
   .f{
    margin-left: 3px;
   }
}
.a span {
     display: inline-block;
     font-weight: 500;
}
.b span {
     display: inline-block;
     font-weight: 500;
}

 .tagline {
       font-family: "Lexend Deca", sans-serif;
            font-size: 25px;
          white-space: nowrap;
            font-weight: 400;
            opacity: 0.95;
             margin-top: 13px;
             position: absolute;
             color:rgb(249, 249, 248);
          text-shadow: 1px 1px 2px rgb(8, 15, 6);
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
        }